@model IEnumerable<FoodDiaryBeta.Models.MealModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using Microsoft.AspNet.Identity
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealTypeSelection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDProductConsumed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QTY)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model@*.Where(x => x.IDUser == User.Identity.GetUserId())*@)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealTypeSelection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDProductConsumed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QTY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
