@model FoodDiaryBeta.Models.MealTypeModel

@{
    ViewBag.Title = "DetailsMealType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsMealType</h2>

<div>
    <h4>MealTypeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMealType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMealType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
